*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    background-color: rgb(0, 0, 213);
    color: rgb(235, 255, 137);
    line-height: 5rem;
    border: 10px solid black;
    font-size: 4rem;
    padding: 1rem;
    margin-bottom: 2rem;
}

button{
    font-size: 7rem;
    margin: 3rem;
    background-color: rgb(0, 0, 213);
    box-shadow: 1px 1px 50px yellow;
    border: 5px solid black;
    cursor: pointer;
    border-radius: 2rem;
}
button:hover{
    background-color: rgb(235, 255, 137);
}

#resultDisplay{
    background-color: blue;
    box-shadow: 1px 1px 50px yellow;
    display: inline;
    padding: 1.5rem;
    margin: 3rem;
    margin-top: 1rem;
    border:7px solid black;
    font-size: 5rem;

}
#computerDisplay {

    border-radius: 1rem;
    box-shadow: 1px 1px 50px yellow;
    font-size: 2rem;
    border: 5px solid black;
    padding: 1rem;
    background-color: red;
    
}
#playerDisplay{

    font-size: 2rem;
    box-shadow: 1px 1px 50px yellow;
    border-radius: 1rem;
    border: 5px solid black;
    padding: 1rem;
    background-color: greenyellow;
}
.Display-div{
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 4rem;
    gap: 5rem;

}

